<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoli.pricer.mapper.MethodMapper">

    <resultMap id="BaseResultMap" type="com.baoli.pricer.pojo.ProcessMethod">
        <id column="id" property="id" />
        <result column="material_category" property="materialCategory" />
        <result column="method" property="method" />
        <result column="price" property="price" />
    </resultMap>

    <sql id="Columns_Insert">
        material_category,
        method,
        price,
        version_id
    </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO baoli.process_method (
        <include refid="Columns_Insert"/>
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.materialCategory}, #{item.method}, #{item.price}, #{item.versionId})
        </foreach>
    </insert>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT *
        FROM baoli.process_method
        WHERE 1=1
        <include refid="com.baoli.pricer.mapper.CommonSqlMapper.VersionFilter"/>
        ORDER BY id
    </select>

    <select id="getByKeyword" parameterType="map" resultMap="BaseResultMap">
        SELECT *
        FROM baoli.process_method
        WHERE method LIKE CONCAT('%', #{keyword}, '%')
        <include refid="com.baoli.pricer.mapper.CommonSqlMapper.VersionFilter"/>
        ORDER BY id
    </select>

    <select id="getByCategory" parameterType="map" resultMap="BaseResultMap">
        SELECT *
        FROM baoli.process_method
        WHERE material_category = #{category}
        <include refid="com.baoli.pricer.mapper.CommonSqlMapper.VersionFilter"/>
        ORDER BY id
    </select>

    <select id="getByIds" resultType="com.baoli.pricer.pojo.ProcessMethod" parameterType="java.util.List">
        SELECT *
        FROM baoli.process_method
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
